.navigation {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: right;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.navigation__content {
    max-width: 520px;   
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #202020;  
    position: fixed;
}

.navigation__btn_close {
    background-color: #202020; 
    border: none;
}

.navigation__close {
    max-width: 22px;
    min-height: 22px;
    margin: 22.44px 22.44px 105.44px auto;
    align-items: flex-end;
}

.navigation__links {
    max-width: 340px;
    min-height: 122px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.navigation__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
}

.navigation__link:hover {
    opacity: 0.7;
    transition: 1s;
}

.header__bottom {
    max-width: 520px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.navigation__profile {
    margin-bottom: 90px;
}

.header__profile-on {
  display: inline;
}

@media (max-width: 320px) {
    .navigation {
        max-width: 320px;
        min-height: 780px;
    }
    
    .navigation__content {
        max-width: 320px;
    }
    
    .navigation__close {
        max-width: 22px;
        min-height: 22px;
        margin: 13.44px 13.44px 99.44px auto;
    }
    
    .navigation__links {
        max-width: 300px;
        min-height: 114px;
        gap: 24px;
    }

    .header__bottom {
        max-width: 300px;
    }
    
    .navigation__profile {
        margin-bottom: 46px;
    }
}